config.el
custom-vars.el
recentf
history
ido.last
smex-items
tramp
.last-package-update-day
.lsp-session*
.mc-lists.el

.cache/
tree-sitter/
auto-save-list/
emacs_saves/
eln-cache/
elpa/
games/
image-dired/
irony/
lisp/
transient/

!lisp/rainbow-delimiters.el
!lisp/rainbow-delimiters.elc
